body{
    margin: 0;
}
body::-webkit-scrollbar{
    width: 0px;
}
.modal-header{
    background-color: rgb(14, 65, 65);
    color: white;
    border-radius: 0px;
}
.modal-header div button{
    color: white;
    font-size: small;
}
.modal-header div button:hover{
    color: rgb(185, 185, 185);
}
.sidebar-container{
    position: fixed;
    background-color: rgb(14, 65, 65);
    width: 250px;
    height: 100%;
}
.sidebar-container a{
    text-decoration: none;
    display: block;
    line-height: 70px;
    color: white;
    font-size: 15px;
    padding-left: 40px;
    transition: 0.5s;
}
.sidebar-container a span{
    margin-right: 5px;
}
.sidebar-container a:hover{
    background-color: #166161;
}
.isActive{
	position: relative;
  	background: #166161;
  	transition: all 500ms;
}

.isActive::after{
	content: "";
	top: 0;
	right: 0;
	width: 3%;
	position: absolute;
	background: #18b1b1;
	height: 100%;
}
.display-container{
    margin-left: 250px;
}
.table-container{
    padding: 10px;
}
table{
    width: 100%;
    border-bottom: solid 1px gray;
    margin-top: -15px;
}
thead{
    background-color: rgb(109, 109, 109);
    color: white;
    font: 15px;
}
thead td{
    padding: 8px;
}
tbody td{
    padding: 5px;
}
.footer-custom{
    border-left: solid 1px white;
    margin-top: 20px;
    border-radius: 0px;
    background-color: rgb(14, 65, 65);
    color: white;
}
.message-list .modal-body a{
    text-decoration: none;
    color: #383838;
}
.message-list .modal-body a:hover{
    background-color: rgb(160, 0, 0);
}
.m-list{
    display: flex;
    height: 20px;
    overflow-y: hidden;
    overflow-x: hidden;
    width: 95%;
    color: #6b6a6a;
}
.m-list span{
    margin-right: 7px;
}
.t-list{
    color: #6b6a6a;
    width: 300px;
    text-align: right;
}
.message-board{
    border: solid 1px gray;
    border-radius: 0px;
    padding: 20px;
    padding-right: 20px;
    height: 300px;
    overflow-y: scroll;
}
.message-board::-webkit-scrollbar{
    width: 0px;
}
.send-board{
    display: flex;
}
.send-board input{
    border: solid 1px gray;
    border-radius: 0px;
}
.send-board button{
    border-radius: 0px;
}
.l-con{
    width: 70%;
}
.l-con button{
    text-align: left;
}
.r-con{
    margin-left: 30%;
    width: 70%;
    text-align: right;
}
.r-con button{
    text-align: left;
}
.unread{
    color: black;
}
.officer-profile img{
    width: 150px;
    height: 150px;
    border-radius: 100px;
    border: solid 2px gray;
}
.officer-profile{
    text-align: center;
}
.bio{
    background-color: rgba(128, 128, 128, 0);
    outline: 0px;
    border: 0px;
    text-align: center;
    font-weight: 500;
}
.bio:disabled{
    background-color: rgba(128, 128, 128, 0);
    outline: 0px;
    border: 0px;
    text-align: center;
}
.table-profile img{
    width: 50px;
    height: 50px;
    border-radius: 100px;
    border: solid 2px gray;
}
.message-img{
    width: 412px;
    border-radius: 5px;
    border: solid 1px #4b4b4b;
}
.download-link:hover{
    background-color: rgba(0, 0, 0, 0) !important;
}
.ms-profile{
    width: 40px;
    height: 40px;
    border-radius: 100px;
    border: solid 1px gray;
}
.dev-name{
    color: #ff7424;
}