body{
    margin: 0%;
    background-image: url("../img/table1.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    background-size: cover;
}
.modal-header{
    border-radius: 0px;
    background-color: rgb(14, 65, 65);
}
.modal-footer{
    border-radius: 0px;
    background-color: rgb(14, 65, 65);
}
.modal-header{
    color: rgb(211, 211, 211);
}
.modal-body input{
    background-color: rgba(14, 14, 14, 0);
    color: white;
}
.modal-body input:focus{
    background-color: rgba(14, 14, 14, 0);
    color: white;
}
.modal-body input::placeholder{
    color: white;
}
.display-container .l-container{
    position: fixed;
    width: 50%;
    height: 100%;
}
.display-container .r-container{
    position: fixed;
    margin-left: 50%;
    width: 50%;
    height: 100%;
    padding: 100px;
    padding-top: 120px;
    background-color: rgba(14, 14, 14, 0.555);
}
.btn-custom:disabled{
    color: white;
    background-color: rgb(14, 65, 65);
}
.modal-footer h6{
    color: rgb(182, 182, 182);
}
.modal-footer h6 a{
    color: white;
    transition: 0.5s;
}
.modal-footer h6 a:hover{
    color: rgb(194, 194, 194);
    transition: 0.5s;
}
.modal-body-custom input{
    color: rgb(43, 43, 43);
}
.modal-body-custom input:focus{
    color: rgb(43, 43, 43);
}