body{
    margin: 0;
}
body::-webkit-scrollbar{
    width: 0px;
}
.modal-header{
    background-color: rgb(14, 65, 65);
    color: white;
    border-radius: 0px;
}
.modal-header div button{
    color: white;
    font-size: small;
}
.modal-header div button:hover{
    color: rgb(185, 185, 185);
}
.officer-navbar div a{
    text-decoration: none;
    color: white;
    margin-right: 8px;
    transition: 0.5s;
}
.officer-navbar div a:hover{
    color: rgb(170, 170, 170);
}
.display-container{
    padding: 20px;
}
.message-board{
    border: solid 2px gray;
    padding: 20px;
    padding-right: 20px;
    height: 300px;
    overflow-y: scroll;
}
.message-board::-webkit-scrollbar{
    width: 0px;
}
.send-board{
    display: flex;
}
.send-board input{
    border: solid 2px gray;
    border-radius: 0px;
}
.send-board button{
    border-radius: 0px;
}
.modal-body{
    padding-left: 100px;
    padding-right: 100px;
}
.l-con{
    width: 70%;
}
.l-con button{
    text-align: left;
}
.r-con{
    margin-left: 30%;
    width: 70%;
    text-align: right;
}
.r-con button{
    text-align: left;
}
.sidebar-container{
    position: fixed;
    background-color: rgb(14, 65, 65);
    width: 250px;
    height: 100%;
}
.sidebar-container a{
    text-decoration: none;
    display: block;
    line-height: 70px;
    color: white;
    font-size: 15px;
    padding-left: 40px;
    transition: 0.5s;
}
.sidebar-container a span{
    margin-right: 5px;
}
.sidebar-container a:hover{
    background-color: #166161;
}

.table-container{
    padding: 10px;
}
table{
    width: 100%;
    border-bottom: solid 1px gray;
    margin-top: -15px;
}
thead{
    background-color: rgb(109, 109, 109);
    color: white;
    font: 15px;
}
thead td{
    padding: 8px;
}
tbody td{
    padding: 5px;
}
.footer-custom{
    border-left: solid 1px white;
    margin-top: 20px;
    border-radius: 0px;
    background-color: rgb(14, 65, 65);
    color: white;
}
.profile{
    width: 150px;
    height: 150px;
    border-radius: 100px;
    border: solid 2px #0069f1;
}
.officer-profile img{
    width: 150px;
    height: 150px;
    border-radius: 100px;
    border: solid 2px gray;
}
.officer-profile{
    text-align: center;
}
.bio{
    background-color: rgba(128, 128, 128, 0);
    outline: 0px;
    border: 0px;
    text-align: center;
    font-weight: 500;
}
.bio:disabled{
    background-color: rgba(128, 128, 128, 0);
    outline: 0px;
    border: 0px;
    text-align: center;
}
.table-profile img{
    width: 50px;
    height: 50px;
    border-radius: 100px;
    border: solid 2px gray;
}
.message-img{
    width: 412px;
    border-radius: 5px;
    border: solid 1px #4b4b4b;
}
.download-link:hover{
    background-color: rgba(0, 0, 0, 0) !important;
    text-decoration: none !important;
}
.dev-name{
    color: #ff7424;
}